# Environment
.venv312/
.env
token.json
results*
.git/
credentials.json
debug*/
runs/
analyse/reports/
notebooks/data/
temp
data/
wandb/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/


# Build artifacts
build/
dist/
*.egg-info/
.file_cache/

# IDE / Editor specific
.vscode/ # If you want to exclude VS Code settings

# Log files
*.log