google-api-python-client
google-auth-httplib2
google-auth-oauthlib
google-cloud-storage
google-cloud-secret-manager
numpy
opencv-python-headless
Pillow
python-dotenv
python-json-logger
requests
rfdetr
scikit-learn
supervision
toml
torch
torchvision
wandb
fastapi[all]
uvicorn