google-api-python-client
google-auth-httplib2
google-auth-oauthlib
google-cloud-storage
google-cloud-secret-manager
python-dotenv
python-json-logger
requests
toml
fastapi
uvicorn
numpy
matplotlib
seaborn
scikit-learn
