google-api-python-client
google-auth-httplib2
google-auth-oauthlib
google-cloud-storage
matplotlib
numpy
opencv-python
Pillow
python-dotenv
python-json-logger
rfdetr
scikit-learn
seaborn
supervision
torch
torchvision
wandb